* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    min-width: 320px;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

footer {
    bottom: 0;
    color: #424242;
    display: block;
    margin: 8px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

footer a {
    color: #424242;
}

h1 {
    font-size: 1.5em;
    color: #383838;
}

.hidden {
    display: none!important;
}

.mb-16 {
    margin-bottom: 16px;
}

.alert-block {
    font-size: 14px;
    color: #424242;
    margin: 8px 0 0;
}

/* ====== Input box ===== */

.input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 36px auto;
}

@media only screen and (min-width: 768px) {
    .input-box {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    .input-box {
        width: 50%;
    }
}

.form-group {
    display: flex;
    flex-flow: row wrap;
}

.input-box label {
    color: #383838;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}

.input-box input[type='time'] {
    border-radius: 5px;
    border: 0px solid #424242;
    -webkit-box-shadow: 0 0 5px 0px #a0a0a0;
    box-shadow: 0 0 5px 0px #a0a0a0;
    height: 40px;
    margin: 4px 0 24px;
    padding: 16px;
    width: 100%;
    min-width: 100%;
}

.input-box input[type='checkbox'] {
    align-self: center;
    margin: 0 16px 0 0;
}

.input-box button {
    background-color: #103267;
    border: 1px solid #102F5C;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0px #a0a0a0;
    box-shadow: 0 0 5px 0px #a0a0a0;
    color: #fff;
    cursor: pointer;
    height: 40px;
    font-weight: bold;
    margin: 16px 0;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
    width: 100%;
}

.input-box button:hover {
    background-color: #0B2549;
}

.alert {
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0px #a2a2a2;
    color: #fff;
    margin: 8px 0;
    padding: 24px;
    position: absolute;
    top: 0;

}

@media only screen and (min-width: 768px) {
    .alert {
        margin: 0px;
        right: 24px;
        top: 24px;
    }
}

.alert-success {
    background-color: #AED581;
}

.alert-error {
    background-color: #b71c1c;
}

.close-alert {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 20px;
    position: absolute;
    right: 6px;
    top: 5px;
    z-index: 3;
}